@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  /* margin: 0; */
  display: flex;
  gap: .5rem;
  padding: .2rem 0 .2rem .2rem;
  /* padding: .3rem; */
  overflow: hidden;
  height: 100vh;
  position: relative;

}

.container{
  background: #242423;
  color: #e74c;

}

.card{
  background-color: #2A2C24;
}

button{
  background: #24D26D;
}

.sidebar{
  background: #0C0F0A;
 margin: auto 0;
}

h1,h2,h3{
  color: #CFDBD5
}

p{
  color: #E8EDDF;
}

