@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  display: flex;
  gap: 1rem;
  padding: .3rem;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.container{
  background: #F4F4F4;
  color: #e74c;
}

.sidebar{
  background: #3498DB;
  left: 0;
  top: 0;
  position: static
}

h1,h2,h3{
  color: #333333
}

p{
  color: #666666;
}

